name: Gas Forecast

on:
  push:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install deps
        run: |
          pip install -r requirements.txt

      - name: Run model
        env:
          FRED_API_KEY: ${{ secrets.FRED_API_KEY }}
        run: |
          python gas_price_forecast.py
