import requests
import os

def fetch_eia_storage():
    api_key = os.environ.get("EIA_API_KEY")  # API Key aus GitHub Secrets
    if not api_key:
        raise ValueError("Bitte EIA_API_KEY als Secret setzen")
    
    url = (
        "https://api.eia.gov/v2/natural-gas/stor/wngsr/data/"
        f"?api_key={api_key}&frequency=weekly&facets[region][]=N5010"
        "&data[0]=value&sort[0][column]=period&sort[0][direction]=desc&offset=0&length=1"
    )
    r = requests.get(url)
    r.raise_for_status()
    data = r.json()
    value = data['response']['data'][0]['value']
    date = data['response']['data'][0]['period']
    return value, date

if __name__ == "__main__":
    value, date = fetch_eia_storage()
    print(value)
